{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    <h1>Politique de confidentialité</h1>
</div>
{% endblock %}