{% extends 'base.html.twig' %}

{% block title %}Accueil {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    <h1>Bienvenue sur Adlink.bio</h1>
    <p class="intro">Bienvenue sur ADLink.bio, le CMS qui vous convient !<br> Sur notre site, vous pouvez créer une landing page unique pour présenter votre entreprise sous toutes ses formes. Et grâce à notre interface intuitive, vous pouvez gérer votre contenu et personnaliser votre design comme vous le souhaitez.</p>
    <div class="btns-home">
        <a href="{{ path('app_register') }}" class="btn-home">S'inscrire</a>
        <a href="{{ path('app_login') }}" class="btn-home">Se connecter</a>
    </div>
</div>
{% endblock %}
