<footer>
    <div class="copyright">
        <p>© Copyright Adlink.bio 2022</p>
    </div>
    <div class="links">
        <a href="mailto:contact@adlink.bio" class="link-footer">Contact</a>
        <a href="{{ path('app_confidentialite') }}" class="link-footer">Politiques de confidentialité</a>
        <a href="{{ path('app_mentions') }}" class="link-footer">Mentions légales</a>
    </div>
</footer>