<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}- Adlink.bio{% endblock %}</title>
    </head>
    <body>
        {{ include('_header.html.twig') }}
        <main>
            {% block body %}{% endblock %}
        </main>
        {{ include('_footer.html.twig') }}
    </body>
</html>